@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #ecece6;
  --foreground: black;
}

[data-theme="dark"] {
  --background: #1b1d23;
  --foreground: white;
}
