@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: theme("colors.light");
  --foreground: black;
}

[data-theme="dark"] {
  --background: theme("colors.dark");
  --foreground: white;
}
